*{
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');


body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background: #fff;
}

nav menu {
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

nav button {
    background: #6C49FF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.features {
    text-align: center;
    padding: 60px 100px;
    background-color: rgba(173, 216, 230, 0.305);
}

.features h2 {
    font-size: 28px;
    margin-bottom: 20px;
}
.logos{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 70px;
}
.features-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.feature {
    max-width: 300px;
    text-align: center;
}
.feature-list{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    padding-top: 40px;
}
.feature-list>.feature-item>svg{
    background-color: #706d6d52;
    border-radius: 50%;
}
.parte1 {
    align-items: center;
 display: flex;
 flex-direction: column;
gap: 5vh;
    padding: 30px 0;
}
.parte1 img{
    width: 50vh;
}

.parte1>h1 {
    font-size: 32px;
    color: #222;
}

.parte1> button {
    background: #6C49FF;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.logo{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.logo>img{
 width: 20vh;
}
/* Stats Section */
.stats {
    background: #6C49FF;
    color: white;
    text-align: center;
    padding: 60px 0;
}

.stats h2 {
    font-size: 30px;
}

.stat-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}


.stat {
    font-size: 24px;
    font-weight: 600;
}
.stats-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20vw;
    padding-top: 10vh;
}
.lst{
    padding: 30px;
    text-decoration: underline;
}


.part3{
    text-align: center;
    padding: 80px 100px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.child1> h3{
    font-size: 28px;  
    padding-top: 15vh;
}
.child2 , .child1{
    display: flex;
    justify-content: space-around;
    align-items: center;
   
   

}

.parte5{
    padding-top: 5vh;
    display: flex;
    justify-content: space-around;
}
.display{
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.display>div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
